[submodule "membrane"]
	path = membrane
	url = https://github.com/rorywalsh/cabbage.git
[submodule "gimp"]
	path = gimp
	url = https://github.com/GNOME/gimp.git
[submodule "scribus"]
	path = scribus
	url = https://github.com/scribusproject/scribus.git
[submodule "swatchbooker"]
	path = swatchbooker
	url = https://github.com/olivierberten/SwatchBooker.git
[submodule "juce"]
	path = juce
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "juced"]
	path = juced
	url = https://github.com/kunitoki/juced.git
[submodule "ardour"]
	path = ardour
	url = https://github.com/Ardour/ardour.git
[submodule "inkscape"]
	path = inkscape
	url = https://github.com/inkscape/inkscape.git
